- @images.each do |image|
  .image
    .container-fluid
      .row
        = image_tag image.thumbnail, width: 300, class: 'img-responsive'
      .imageOverlay
        .row
          .col-md-2
            heart
          .col-md
            user image
        .row
          .col-md-2
            100
          .col-md
            Tag tag tag
